<h1>Fill Time Sheet <%= "<#{current_employee.name}>" %></h1>
<div class="errorMessage"></div>
<div class="newTimeSheet">
	<%= render 'form' %>
</div>
<div class="listTimeSheet">
<%= render 'list' %>
</div>