/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#wrapper {	    
	background-color: #F6F6F6;
    height: 640px;
    margin: 20px 100px 0px 100px;
}

header {
	text-align: center;
}

/*header hgroup h1 {
	background-color: #696969;
    color: #E7E7E7;
    font-size: 2.7em;
    text-shadow: 5px 5px 5px #000000;
}*/

footer {
	
}