/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body, input, textarea {
	font-family: Helvetica;
}

#admin_header {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    width: 939px;
    box-shadow: 0 1px 1px #C4C4C4 inset, 0 0 8px #9B9B9B;
    outline: 0 none;    
}

#admin_header a{
    color: #999999;
    display: inline;
    font-family: Helvetica;
    font-size: 14px;
    padding-right: 25px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

#admin_header a:hover, #admin_header a.selected{
	color: #FFFFFF;
}