/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.newTimeSheet {
   padding-left: 15px;
   padding-top: 15px;
   padding-bottom: 10px;
   border: 1px solid #afafaf;
   border-left: 0 none;
   border-right: 0 none;   
   box-shadow: 0 1px 1px #FFFFFF inset, 0 0 8px #000000;
}

.newTimeSheet label{
    color: #3C3C3C;
    font-weight: bold;
    margin-right: 5px;
}

.newTimeSheet div.fields{
    display: inline-block;
    height: 35px;
    width: 290px;
}

.newTimeSheet div.submitAction{
	margin-bottom: 5px;
}

.newTimeSheet div.submitAction img{
    display: none;
    margin-left: 10px;
    margin-top: 1px;
    padding-top: 0;
    position: absolute;
    width: 20px;
}

.newTimeSheet input[type=submit]{
    background-image: linear-gradient(to bottom, #B7B7B7, #3A3A3A);
    border: 1px solid #AFAFAF;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    height: 25px;
}

.newTimeSheet input[type=submit]:hover {
	font-weight: bold;
	border: 1px solid #515151;
}

.listTimeSheet {
	margin-top: 5px;
}

.timeSheetTable {

}

.timeSheetOverlay {
	display: none;
	background-color: #E3E3E3;
    background-image: url("/ajax_loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 238px;
    position: absolute;
    width: 933px;
}

.timeSheetLinks {
	margin-top: 10px;
}


.unSelectedTab {
    background: linear-gradient(to bottom, #B7B7B7, #3A3A3A) repeat scroll 0 0 transparent;

    color: #FFF;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.unSelectedTab:hover {
    background: linear-gradient(to bottom, #3A3A3A, #B7B7B7) repeat scroll 0 0 transparent;

}


.selectedTab {
    background: linear-gradient(to bottom, #FEFEFE, #D0D0D0) repeat scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    color: #000;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.selectedTab:hover {
  background: linear-gradient(to bottom, #D0D0D0, #FEFEFE) repeat scroll 0 0 transparent;
}

.timeSheetActionIcon {
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 17px;
    padding-top: 2px;
    text-align: center;       
}

.editTimeSheet, .updateTimeSheet {
  border: 1px solid #5A5A5A;
  width: 40px;
  background: linear-gradient(to bottom, #B7B7B7, #3A3A3A);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.editTimeSheet:hover, .updateTimeSheet:hover {  
  border: 1px solid #000000;
  font-weight: bold;
}

.removeTimeSheet {
  width: 75px;
  border: 1px solid #B92C28;
  background: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.removeTimeSheet:hover {
  background-color: #D9534F;
  border-color: #D43F3A;
  font-weight: bold;
}

.updateTimeSheet {
  display: none;
}

.overlayAction {
     background-color: #D5D5D5;
    background-image: url("/ajax_loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    display: none;
    height: 22px;
    position: absolute;
    width: 90px;
}